@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Red+Hat+Display&family=Roboto+Condensed:wght@100;400&display=swap');

* {
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background-color: #A2DAFF;
    width: 100%;
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 1px;
    top: 0px;
}

nav {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    position: fixed;
    padding-top: 10px;
    top: 0px;
}

.top {
    padding-top: 1px;
}

.menu-top {
    list-style-type: none;
    justify-content: center;
}

.menu {
    float: left;
    margin-right: 30px;
}

.menu:last-child {
    margin-right: 20px;
}

.menu a {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    color: #003bc6; 
}

.menu a:hover {
    color:  rgb(130, 169, 228);
}

#img-logo:hover {
    opacity: 60%;;
}

#img-logo {
    width: 300px;
    margin-left: 20px;
    height: auto;
    margin-right: -40px;
}


#nav-menu-top .icon {
    display: none
}

main {  
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.card-start {
    display: flex;
    margin-top: 110px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(220, 233, 250);
    border-radius: 15px;
}

.card-start a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 35px;
    color: #003bc6; 
}

.card-nav {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #b8e1fd;
    border-radius: 15px;
    padding-bottom: 10px;
}

.card-nav h1 {
    margin-top: 15px;
    margin-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    color: #003bc6; 
}

.card-about {
    display: flex;
    margin-top: -25px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(220, 233, 250);
    border-radius: 15px;
    align-items: center;
}

.card-img1 {
    margin: 20px;
    float:left;
    width: 20%;
    height: 20%;
    border-radius: 5px;
}

.card-img2 {
    margin: 20px;
    float:right;
    width: 20%;
    height: 20%;
    border-radius: 5px;
}


.about-text {
    text-align: center;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
    color: #003bc6;
    display: flex;
    align-items: center;
}

#pass-check {
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.card-mat {
    display: flex;
    margin-top: -25px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(220, 233, 250);
    border-radius: 15px;
}

.card-mat-pass {
    display: flex;
    margin-right: 40px;
    background-color: rgb(220, 233, 250);
    border-radius: 15px;
}

.card-mat-opt {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(220, 233, 250);
    border-radius: 15px;
}

.card-mat-prez {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;  
}


.table-oper {
    display: none;
}

.table-aup {
    display: none;
}

#list {
    display: none;
    text-align: center;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 2px inset black;
}

input, button, textarea {
    border-radius: 5px;
}

textarea {
    border: 2px inset black;
}

label, input, button, select, textarea {
    font-size: 30px;
    color: #003bc6;
    padding-left: 5px;
    padding-right: 5px;
}

table {
    font-size: 30px;
    color: #003bc6;
}


table, th, td {
    border: 1px solid black;
    border-radius: 5px;
}

label[for="showpass"] {
    text-transform: none;
}

input[type="checkbox"] {
    margin-left: 20px;
    width: 22px;
    height: 22px;
}

.table-oper, .table-aup {
    padding-bottom: 20px;
    padding-right: 20px;
}

.card-saz {
    display: block;
    margin-top: -25px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 5px;
    background-color: rgb(220, 233, 250);
    border-radius: 15px;
    justify-content: center;
    overflow: hidden;
    padding-top: 15px;
}

.card-saz li, a {
    font-size: 30px;
    color: #003bc6; 
    padding-right: 20px;
}

.card-saz a:hover {
    color:  rgb(130, 169, 228);
}

form {
    padding-left: 15px;
    padding-bottom: 20px;
}

#submit:hover {
    opacity: 60%;
}

#check:hover {
    opacity: 60%;
}

#showpass:hover {
    opacity: 60%;
}

.nav-fin {
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-top: -5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: -20px;
    background-color: rgb(220, 233, 250);
    border-radius: 15px;
}

.lu-logo {
    margin-bottom: -6px;
    width: 100px;
    height: auto;
    border-left: 3px solid #003bc6;
    padding-left: 14px;
    margin-left: 7px;
}

.lu-logo:hover {
    opacity: 60%;
}

.nav-fin h1 {
    margin-left: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    color: #003bc6; 
}

.nav-fin a {
    text-decoration: none; 
}

.info-login-true {
    display: none;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 5px;
    background-color: rgb(220, 233, 250);
    border-radius: 15px;
    justify-content: center;
    overflow: hidden;
}

.info-login-true p {
    text-transform: uppercase;
    font-size: 30px;
    color: #003bc6; 
}

.info-pass-true {
    display: none;
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 20px;
    padding-left: 5px;
    background-color: rgb(220, 233, 250);
    border-radius: 15px;
    justify-content: center;
    overflow: hidden;
}

.info-pass-true p {
    text-transform: uppercase;
    font-size: 30px;
    color: #003bc6; 
}

.name-true {
    display: flex;
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 20px;
    padding-left: 5px;
    background-color: rgb(220, 233, 250);
    border-radius: 15px;
    justify-content: center;
    overflow: hidden;
}

.name-true p {
    text-transform: uppercase;
    font-size: 30px;
    color: #003bc6; 
}

  .card-photo {
    display: flex;
    margin-top: -25px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(220, 233, 250);
    border-radius: 15px;
}

.slideshow {
    overflow: hidden;
    max-width: 1000px;
    position: relative;
    margin: auto;
    width: 56%;
}

.slideshow img {
    width: 100%;
    display: none;
    margin-top: 20px;
    border-radius: 5px;
}

.fade img, .fade {
    animation-name: fade;
    animation-duration: 1s;
}
  
@keyframes fade {
    from {opacity: .1} 
    to {opacity: 1}
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.text {
    text-align: center;
    justify-content: center;
    left: 50%;
    font-size: 30px;
    color: #003bc6; 
    transition: opacity 1s ease-in-out;
    transform: translateX(-50%);
    position: relative;
    margin-bottom: 40px;
    display: flex;
}

.indicators {
    position: relative;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 5px;
    cursor: pointer;
}

.indicator.active {
    background-color: #717171;
}

@media screen and (max-width: 1310px) {
    nav {
        height: 81px;
    }

    .menu-top {
        display: none;
        margin-top: 90px;
        width: 100%;
        padding-top: 20px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 1000;
        text-align: left;
    }

    #nav-menu-top .icon {

        text-decoration: none;
        margin-top: -10px;
    }

    .menu-top li {
        background-color: white;
        text-align: left;
        margin-left: 5px;
    }

    .menu-top.responsive {
        position: absolute;
        width: 100%;
        min-width: 0;
    }

    #nav-menu-top.responsive .icon {
        position: absolute;
        right: 0;
        top: 28px;
    }

    #img-logo {
        max-width: 300px;
        position: absolute;
        left: 0;
        top: 10px;
    }

    .menu-top a {
        display: block;
        text-decoration: none;
        color: #003bc6;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
        margin-right: 90px;
        padding-bottom: 10px;
    }
    
    .menu-top li:not(:last-of-type) a {
        border-bottom: solid 3px #003bc6;
    }

    #nav-menu-top.responsive .menu-top li {
        display: block;
        width: 100%;
    }

    #nav-menu-top.responsive .menu-top {
        display: block;
    }

    #nav-menu-top .icon {
        display: block;
        font-size: 30px;
        cursor: pointer;
        color: #003bc6;
    }
}

@media screen and (max-width: 900px) {
    .card-img1, .card-img2 {
        width: 90%;
        max-width: 500px;
        float:none;
        margin-left: auto;
        margin-right: auto;
    }

    .card-about {
        display: block;
        text-align: center;
        justify-content: center;
    }

    .about-text {
        margin-top: -20px;
        margin-bottom: -20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .card-nav h1 {
        margin-left: auto;
        margin-right: auto;
    }

    #pass-check {
        padding-bottom: 0px;
    }

    .card-mat, .card-mat-pass, .card-mat-opt, .card-mat-prez {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }

    .card-mat-prez {
        margin-top: 10px;
        padding-bottom: 20px;
    }

    .card-mat {
        margin-left: 20px;
        margin-right: 20px;
    }

    .info-login-true, .info-pass-true {
        margin-top: 0px;
        margin-left: 20px;
    }

    .table-oper, .table-aup {
        display: none;
        padding: 20px;
        padding-bottom: 0px;
    }

    #list {
        display: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 500px) {
    select {
        max-width: 330px;
    }
}

@media screen and (max-width: 400px) {
    input {
        margin-right: 20px;
    }
}

@media print {
    #nav-menu-top, .card-start a, .card-mat-pass, .info-login-true p, .info-pass-true p, #galerija, .card-photo, form, .card-saz li:last-child, .card-img1, .card-img2 {
        display: none;
    }
    nav {
        position: absolute;
    }

    #list {
        margin-top: -40px;
    }
    .card-nav {
        margin-top: -10px;
    }

    table {
        margin-left: 20px;
    }
}